:root{
  --blue: #0084FD;
  --light-blue: #bbdbfc;
  --violet: #9591dd;
  --black: #363636;
  --yellow: #f3c26f;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;  
}

.debug{
  background-color: rgb(212, 91, 91, .2);
  border: 1px solid black;
  min-height: 50px;
}


img{
  max-width: 100%;

}


.flexed{
  display: flex;
}

.d-none{
  display: none;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col{
  width: 100%;
  padding: 10px;
}

.center{
  justify-content: center;
}

.between{
  justify-content: space-between;
}

.nowrap{
  flex-wrap: nowrap;
}

.card{
  background-color: var(--light-blue);
  border-radius: 20px;
  height: 100%;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.al-center{
  align-items: center;
}

.mb{
  margin-bottom: 30px;
}

.mt{
  margin-top: 30px;
}

.radius{
  border-radius: 20px;
}

p{
  line-height: 30px;
}
/* UTILITIES  */


/* HEADER  */


header .menu{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  /* height: 55px; */
  background-color: var(--blue);
  color: white;
}

header .menu .container{
  justify-content: space-between;
  align-items: center;
}

header .logo{
  font-size: 2.5rem;
}

header .list-nav{
  font-size: 1.8rem;
}

.list-nav .menu-desk{
  display: none;
}

nav ul{
  list-style: none;
}

nav ul li{
  font-size: .8rem;;
  list-style: none;
  margin: 0px 25px;
}

nav ul li a{
  color: white;
  text-decoration: none;  
  
}

.logo{
  margin-top: 10px;
}

#butt{
  color: black;
  text-decoration: none;  
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.button{
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}


.list-nav{

}




/* MAIN  */

/* DEMO  */

#demo{
  margin-top: 100px;
  color: #3c81f4;
  margin-bottom: 60px;
}

.text-demo{
  width: 50%
}

#demo .card{
  padding: 20px 20px;
}

#demo img{
  max-width: 250px;
  margin-bottom: -50px
}

.demo-img{
  /* margin-top: -100px */
}

#demo p{
  color: black;

}


.fawe{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size:4rem;
}

#demo a{
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  background-color: var(--blue);
  margin-top: 50px;
}

/* STRATEGIC  */

#strategic{
  background-color: var(--violet);
  padding-top: 70px;
  padding-bottom: 50px;
  color: white;
}

#strategic img{
  width: 300px;
}


.card-plan{
  

}

.card-dev{
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  /* width: 50%; */
}
#strategic .card-dev{
  color: black;
}

#strategic .col{
  text-align: center;
}

.arrow{
  background-color: var(--violet);
  padding: 10px;
  margin-top: 20px;
  /* width: 10px;
  height: 10px; */
  border-radius: 50%;
}


/* testimonials  */

#testimonials{
  padding-top: 50px;
  background-color: white;
}

#testimonials .card{
  background-color: var(--violet);
  margin-bottom: 30px;
  padding: 20px;
  color: white;
}

#testimonials h2{
  color: var(--violet);
  font-size: 3rem;
}
#testimonials h4{
  margin-top: 30px;
}

#testimonials img{
  object-fit:cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
 
}

#testimonials .col:first-child{
  text-align: center;
}



/* BENEFITS  */

#benefits{
  background-color: var(--violet);
  color: white;
  padding-bottom: 50px;
}

#benefits .card{
  background-color: white;
  color: var(--violet);
  padding: 25px;
}

#benefits h1{
  font-size: 3rem;
  margin-bottom: 10px;
}

#benefits h4{
  margin-bottom: 10px;
}

#benefits h2{
  font-size: 3rem;
  margin: 60px;
  padding-top: 60px
}



#benefits p{
  color: black;
  margin-bottom: 20px;
}

#benefits a{
  margin-top: 30px;
  background-color: var(--violet);
  padding: 5px 35px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}







/* ABOUT US  */

#aboutus{
  background-color: white;
  color: var(--violet);
  padding: 50px;
}

#aboutus .col:last-child{
  text-align: center;
}

#aboutus h1{
  font-size: 3rem;

}

.text-about{
  padding: 30px;
}

.text-about p{
  color: black;
  padding-top: 50px;
  line-height: 40px;
}

#aboutus img{
  object-fit:cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}


.card-about{
  margin: 50px;
 
  
}

#aboutus h3{
  margin: 30px 0;
  font-size: 1.5rem;
}

#aboutus a{
  margin-top: 30px;
  background-color: var(--violet);
  padding: 5px 20px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 0px;
}





/* FREE  */

#pricing{
  background-color: var(--violet);
  color: white;
  padding: 30px;
  line-height: 100px;
  margin-top: 40px;

}

#pricing h2{
  font-size: 2.5rem;
}

#pricing h1{
  color: var(--yellow);
  font-size: 3.5rem;
}

#pricing p{
  font-weight: 300;
}

#pricing a{
  margin-top: 30px;
  background-color: white;
  padding: 15px 40px;
  border-radius: 25px;
  color: var(--violet);
  text-decoration: none;
  margin-top: 30px;
  margin-left: 0px;
}

.container-xs{
  width: 500px;
}

.copy{
  font-size: 0.7rem;
}

#pricing span{
  text-decoration: underline;
}

/* FOOTER  */

footer{
  background-color: var(--black);
  color: white;
}

footer p{
  margin: 50px;
  padding-top:20px
}

footer span{
  color: var(--violet);
  text-decoration: underline;
}

/* RESPONSIVE  */

@media screen and (max-width:767px){
  #testimonials .card .col{
    text-align: center;
  }
}

@media screen and (min-width: 768px){
  .container{
    width: 720px;
  }

  #demo .col{
    width: calc(100% /3);
  }

  #demo .col:first-child{
    width: calc(100% / 1.5);
  }

  /* #demo .col .card{
    display:flex;
  } */
  
  #testimonials .card .row{
    flex-wrap: nowrap;
  }

  #testimonials .card .col:first-child{
    width: 40%;
  }

  #testimonials .card .col:last-child{
    width: 60%;
  }

  #benefits .col{
    width: 50%;
  }

  #aboutus .col:first-child{
    width: 60%;
  }

  #aboutus .col:last-child{
    width: 40%;
  }



}

@media screen and (min-width: 1200px){
  

  .menu .row .list-nav .menu-desk{
    display: block;
  }
  .menu .row .list-nav .burger{
    display: none;
  }


  
  .container{
    width: 1140px;
  }

  #strategic .col{
    width: 50%;
  }

  #benefits .col{
    width: calc(100% / 3);
  }

  
  #aboutus .col:first-child{
    width: 70%;
  }

  #aboutus .col:last-child{
    width: 30%;
  }
  

}
