:root{
  --blue: #0084FD;
  --light-blue: #85DDFF;
  --violet: #9591dd;
  --black: #363636;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
}

header .menu{
  height: 55px;
  background-color: var(--blue);
  color: white;
}

body{
  font-family: 'PT Sans', sans-serif;

}

img{
  max-width: 100%;
}

.flexed{
  display: flex;
}

.between{
  justify-content: space-between;
}

.around{
  justify-content: space-around;
}

.center{
  justify-content: center;
}

.wrap{
  flex-wrap: wrap;
}

.margin-bottom{
  margin-bottom: 50px;
}

.radius{
  border-radius: 20px;
}

.align-ct{
  text-align: center;
}


/* UTILITIES  */

.container{
  margin: 0 auto;
  max-width: 1140px;
}

.row{
  /* margin-top: 30px; */
}


/* header  */

header .menu{
    
}

header .menu .container{
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.logo{
  /* align-items: center; */
}

.menu-desk{
  display: none;
}






/* MAIN  */


.col{
  /* margin-top: 40px; */
  margin: 20px;
}

.card-demo{
  width: 310px;
  height: 600px;
  background-color: var(--light-blue);
}

.card-code{
  width: 310px;
  height: 350px;
  background-color: var(--light-blue);
}


/* STRATEGIC  */

.strategic{
  background-color: var(--violet);
  color: white;
}

.plan{
  /* width: 310px;
  height: 500px;
  background-color: var(--light-blue); */
}

/* STRATEGIC  */

/* TESTIMONIAL  */

.testimonials{
  background-color: white;
}

.testimonials .text-partner{
  margin-top: 20px;
}

.card-lg{
  background-color: var(--violet);
  margin-top: 30px;
  color: white;
  width: 100%;
}

/* BENEFITS  */

.benefits{
  background-color: var(--violet);
  color: white;
}

.card-white{
  width: 320px;
  background-color: white;
  height: 420px;
  color: var(--violet);
  padding: 35px;
}


/* ABOUT US  */
.about-us{
  background-color: white;
  color: var(--violet);
}

.text-about{

  padding: 20px;
}

/* FREE  */

.pricing{
  background-color: var(--violet);
}

.text-about p{
  color: black;
  padding-top: 50px;
  line-height: 30px;
}

.card-about{

}

.free{
  height:650px;
}

/* FOOTER  */

.bot-foot{
  background-color: var(--black);
  color: white;
}

/* RESPONSIVE  */

/* @media screen and (min-width: 768px){
  .container{
    max-width: 90%;

  }

  .demo .row .col-sx{
    width: 70%;
  }

  .demo .row .col-dx{
    width: 30%;
  }

} */